*{
    scroll-behavior: smooth;
}

// custom scrollbar 
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(93, 93, 93);
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #27debf;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1ea38d;
}